html,
body {
    background: #282c34;
    margin: 0;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    font-family: 'VT323', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    font-family: 'VT323', monospace;
}

button {
    font-family: 'VT323', monospace;
}

code {
    background-color: #000000;
    /*border: 1px solid #36d412;*/
    /*margin:20;*/
    display: block;
    padding: 10px;
    border-radius:4px;
}

.bg {
    height: 100%;
    background-image: url("resources/computerBlur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}